<h3>Getting Started Demo</h3>
<p>
This notebook provides a simple demonstration of the Teradata SQL Notebook. It provides SQL statements to create sample tables
    and uses the %dataload magic to load sample data. You will be able to execute magic commands to query the tables and visualize simple chart options.
<p>
    
<p><b>***NOTE: To execute the SQL or magic command in the cell, press SHIFT+ENTER or the run button in the toolbar.</b>

#### The first step is to add a connection to your Teradata Vantage system that has space to create tables and insert a small data set.
Replace the systemName, user, host, and db values for your system.

In [1]:
%var systemName=<Vantage-system>, user=<user name>, host=<host name or IP>, db=<database>

In [ ]:
%addconnect name=${systemName}, user=${user}, host=${host}

#### Establish a connection.

In [ ]:
%connect ${systemName}

#### You can use the Navigator to locate a database to create the demo tables. 
**Note:** Be sure that you do not have tables named **SalesCenter** or **SalesDemo** in the selected database.  Run the SQL command to set the database for the current session.

#### Set your Vantage Database

In [ ]:
DATABASE ${db}

#### Create a table to store sales center data. First drop the table in case it already exists. This will fail if the table does not exist.

In [ ]:
DROP TABLE SalesCenter

In [ ]:
CREATE MULTISET TABLE SalesCenter ,NO FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO
     (
      Sales_Center_id INTEGER NOT NULL,
      Sales_Center_Name VARCHAR(255) CHARACTER SET LATIN NOT CASESPECIFIC)
NO PRIMARY INDEX ;

#### Load data into the SalesCenter table using the %dataload magic. 
##### Run %help dataload for more information on using the %dataload magic.

In [ ]:
%dataload DATABASE=${db}, TABLE=SalesCenter, FILEPATH=notebooks/sql/data/salescenter.csv

#### Verify data was inserted.

In [ ]:
SELECT * FROM SalesCenter ORDER BY 1

#### Create a table with sales demo data.

In [ ]:
DROP TABLE SalesDemo

In [ ]:
CREATE MULTISET TABLE SalesDemo ,NO FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO
     (
      Sales_Center_ID INTEGER NOT NULL,
      UNITS DECIMAL(15,4),
      SALES DECIMAL(15,2),
      COST DECIMAL(15,2))
NO PRIMARY INDEX ;

#### Load data into the SalesDemo table using the %dataload magic.

In [ ]:
%dataload DATABASE=${db}, TABLE=SalesDemo, FILEPATH=notebooks/sql/data/salesdemo.csv

#### Verify that the sales demo data inserted successfully.

In [ ]:
SELECT * FROM SalesDemo ORDER BY sales

#### You can now open a Navigator for your connection and verify that the tables were created. Run a row count on the tables to verify the data was loaded.

#### Create a result set from the sales data.

In [ ]:
SELECT f.sales, f.sales_center_id, s.sales_center_name FROM SalesDemo f
  INNER JOIN SalesCenter s ON s.Sales_Center_id = f.Sales_Center_id

#### The charting magic allows you to quickly visualize the result, providing x and y axes for the chart.

In [ ]:
%chart sales_center_name,sales, title=Sales Data

#### Change the chart to a point chart by passing the mark=point option.

In [ ]:
%chart sales_center_name, sales,mark=point,title=Sales Data Point

#### Run the %history magic to view past query and dataload results.

In [ ]:
%history

#### Locate the history ID for query 'select * from salesdemo order by sales' that was run above.
<p>
Run the %chart magic and pass in the ResultSet id. For example, id of 10 is used below.

In [ ]:
%chart sales_center_id,sales, id=10

#### You can also retrieve a ResultSet from the history by running the %table magic, passing a ResultSet id.

In [ ]:
%table 10

#### As mentioned in the Getting Started notebook, you can copy a resultset path and paste it into panda or data frame command in a Python or R notebook. Click the Copy icon at the top of the ResultSet output. 
<p>
Open a Python notebook with the following statement:

```python
import pandas as pd
df = pd.read_csv("")
df
```
   
Paste the result set path into a Python notebook using the command **pd.read_csv("<ResultSetPath>")**<br>
For example:<br>
    
```python
df = pd.read_csv("/root/JupyterLabHome/TeradataResultsets/2018.04.25_13.37.30.129_PDT/results.csv")
```

#### Drop tables to clean up data.

In [ ]:
DROP TABLE SalesCenter;

In [ ]:
DROP TABLE SalesDemo;

Copyright 2019-2022 Teradata. All rights reserved.