## Drop tables created for basic analytic functions workflow sample notebook.

### If the connection does not exist, create a connection to your Vantage system. Connect and run the DROP commands to remove the tables used for the sample workflow.

#### Set values for your system

In [ ]:
%var SystemName=<system-name>, UserName=<username>, Host=<hostname>, Database=<database>

In [ ]:
%lsconnect

In [ ]:
%addconnect NAME=${SystemName}, USER=${UserName}, HOST=${Host}

In [ ]:
%connect ${SystemName}

#### Set your Vantage database

In [ ]:
DATABASE ${Database}

#### Drop the tables

In [ ]:
DROP TABLE plots;

In [ ]:
DROP TABLE species;

In [ ]:
DROP TABLE surveys;

Copyright 2019-2022 Teradata. All rights reserved.