## Table setup and data loads for basic analytic functions workflow sample notebook.

### Create a connection to your Vantage system. Connect and run the SQL to create the tables used for the sample workflow.

#### Set values for your system

In [ ]:
%var SystemName=<system-name>, UserName=<username>, Host=<hostname>, Database=<database>

In [ ]:
%addconnect NAME=${SystemName}, USER=${UserName}, HOST=${Host}

In [ ]:
%connect ${SystemName}

#### Set your Vantage database

In [ ]:
DATABASE ${Database}

#### Create the tables

In [ ]:
CREATE MULTISET TABLE plots   (plot_id INTEGER, plot_type VARCHAR(40)) PRIMARY INDEX ( plot_id );

In [ ]:
CREATE MULTISET TABLE species (species_id VARCHAR(2), genus VARCHAR(20), species VARCHAR(20), taxa VARCHAR(20)) PRIMARY INDEX ( species_id );

In [ ]:
CREATE MULTISET TABLE surveys (record_id INTEGER, "month" INTEGER, "day" INTEGER, "year" INTEGER, plot_id INTEGER, species_id CHAR(2), sex VARCHAR(1), hindfoot_length INTEGER, weight INTEGER) PRIMARY INDEX ( record_id );

#### Load data into the plots table using the %dataload magic. 
##### Replace the DATABASE value with your database name. Run %help dataload for more information on using the %dataload magic.

In [ ]:
%dataload DATABASE=${Database}, TABLE=plots, filepath=notebooks/python/plotsdata.csv

#### Load the data into the species table.

In [ ]:
%dataload DATABASE=${Database}, TABLE=species, filepath=notebooks/python/speciesdata.csv

#### Load the data into the surveys table.

In [ ]:
%dataload DATABASE=${Database}, TABLE=surveys, filepath=notebooks/python/surveysdata.csv

Copyright 2019-2022 Teradata. All rights reserved.